# Created by .gitignore support plugin (hsz.mobi)
Metropolis-Core.iml
Metropolis-Core.ipr
Metropolis-Core.iws
gradle
options.txt
config
run
.idea
logs
mods
resourcepacks
saves

.idea/workspace.xml
.gradle
build
crash-reports
.gitignore